{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block main%}
<div class="container  py-5">
<h1>Привет, меня зовут Анна, я автор этого проекта!</h1>

<div class="row">
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"> 
<p>
Программирование - новое неожиданное для меня открытие. 
Почти всю жизнь считала себя законченным гуманитарием, 
но потом пришло понимание, что такие ярлыки развешивать не стоит, 
новые грани себя могут открыться весьма неожиданно. 
Так я и открыла для себя совершенно чудесный новый мир - 
программирование. Порой бывает сложно, но от этого только интереснее. 
Это мой первый проект, HTML, признаюсь честно, знаю пока плоховато, потому эта страничка такая неказистая. 
Гарантирую, скоро это исправится;)
И раз пока я еще не подобрала годный контент,
предлагаю посмотреть, в каком формате частенько проходит мой учебный процесс. 
</p>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
  <img src="/static/img/workspace.jpg" height="400" class="d-inline-block align-top" alt="Котик-помощник" title="Куда же без помощников)))">
</div>

  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Мои контакты</h2>
    </div>
  </div>
</div>
<p></p>
<div class="container">
  <div class="row">
    <div class="col-12">
      <p>Почта: <a href="mailto: zebra9999@rambler.ru">zebra9999@rambler.ru</a></p>
      <p>Github: <a href="https://github.com/ZebraHr">github.com/ZebraHr</a></p>
    </div>
  </div>
</div>



{% endblock %}
