{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block main %}
<div class="container py-5">
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
<div class="row">
  <h1>Вот, что я умею</h1>
  {% comment %}
    Боковой блок со списком технологий 
    Займет всю ширину блока на мобильном
    и 25% при размерах экрана ≥768px
  {% endcomment %}
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
      <li class="list-group-item">
        HTML
      </li>
      <li class="list-group-item">
        SQLite
      </li>
      <li class="list-group-item">
        Git
      </li>
      <li class="list-group-item">
        GitHub
      </li>
      <li class="list-group-item">
        CSS
      </li>      
      <li class="list-group-item">
        Bootstrap
      </li>      

    </ul>
  </aside>
  {% comment %}
    Статья  
    Займет всю ширину блока на мобильном
    и 75% при размерах экрана ≥768px
  {% endcomment %}
  <article class="col-12 col-md-9">
    <p>Список будет пополняться, следите за обновлениями :)</p>
  </article>
</div>
</div>
{% endblock %} 