
{% extends 'base.html'%}

{% block title %}
Записи группы {{ group }}
  {% endblock title %}

{% block main %}
<div class="container py-5">
  <h1>{{group}}</h1>
  <p>{{ group.description }}</p>
  {% for post in page_obj %}
  <ul>
    <li>
      Автор: {{ post.author.get_full_name }}
    </li>
    <li>
      Дата публикации: {{ post.pub_date|date:"d E Y" }}
    </li>
  </ul>
  <p>{{ post.text }}</p>   
  <a href="{% url 'posts:post_detail' post.id  %}">подробная информация</a><br>
  {% if post.group %}   
  <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
  {% endif %} 
    {% if not forloop.last %}<hr>{% endif %}
{% endfor %} 

</div>  
{% include 'includes/paginator.html' %}
{% endblock main %}
